<?xml version='1.0' encoding='UTF-8' ?>
<odoo>
    <data noupdate="1">
        <menuitem        
            name="Go4whatsapp Connector"
            id="go4whatsapp_linker_root"
            action="whatsapp_api_odoo03.installation_popup_action"
            sequence="1"
        />  

        <!-- DASHBOARD MENU -->
        <menuitem
            id="menu_go4whatsapp_dashboard"
            name="Dashboard"
            parent="go4whatsapp_linker_root"
            action="action_go4whatsapp_dashboard"
            sequence="1"
        />
    </data>
</odoo>
